
@font-face {
    font-family: DOS;
    src: url(DOS.ttf);
}

@font-face {
    font-family: WONDER;
    src: url(WONDER.ttf);
}

@font-face {
    font-family: VAMP;
    src: url(vamp.ttf);
}

body
{
	background-color: #0e0b06;
	font-family: DOS, Monospace;
	color:#DDDDDD;
}

a
{
	color:#DDDDDD;
	text-decoration: none;
	cursor:pointer;
}

h1
{
	font-size:48px;
	font-weight:normal;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-top:10px;
}

h2
{
	font-size:40px;
	font-weight:normal;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-top:10px;
}

h3
{
	font-size: 32px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-weight:normal;
	margin-top:10px;
}

h4
{
	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-weight:normal;
	margin-top:10px;
}

a:HOVER
{
	text-decoration: underline;	
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}

.travel-scene
{
	position:fixed;
	top:33%;
	left:50%;
	
	width:1px;
	height:1px;
	overflow:visible;
	z-index:999999;
}
.travel-scene h1
{
	z-index:2000000;
	position:relative;
	width:2000px;
	left:-1000px;
	text-align:center;
	
}

.clue
{
	cursor:pointer;
}

.shortcut-key
{
	float:left;
	font-size:14px;
	color:#AAAAAA;
}


.header-mainTitle
{
	font-size:48px;
	text-align:center;
	position:absolute;
	width:100%;
	top:30px;
	left:-240px;
	z-index:1000;
	
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1),2px 2px 3px rgba(0, 0, 0, 1);
}

.header
{
	height: 20px;
	width: 728px;
	margin:0px;
}
.header-profile
{
	display:table-cell;
	width: 200px;
	max-width: 200px;
	overflow: hidden;
	white-space:nowrap;
	height:20px;
	vertical-align: middle;
}
.header-location
{
	display:table-cell;
	overflow: hidden;
	height:20px;
	text-align:center;
	vertical-align: middle;
	white-space:nowrap;
	width:228px;
	max-width:228px;
}
.header-stats
{
	display:table-cell;
	overflow: hidden;
	white-space:nowrap;
	height:20px;
	text-align:right;
	width:300px;
	max-width:300px;
	
}
.header-stats img
{
	margin-left: 4px;
	margin-right: 4px;
}

.main-page
{
    width: 728px;
    margin: 0 auto;	
}

.main-banner
{
	width:728px;
	margin:0px;
	margin-left:1px;
	height:240px;
	background: url("images/banner-backing.jpg") no-repeat center;
	text-align:center;

}

.banner-shadowbox
{
	float: left;
	margin-top: 14px;
	max-width: 728px;
	min-height: 211px;
	max-height: 211px;
	position: relative;
	width:728px;
	height:211px;

	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);

}

.banner-shadowbox::before
{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	
		
	box-shadow: inset 0px 0px 43px 2px #000000;
	-webkit-box-shadow: inset 0px 0px 43px 2px #000000;
	-moz-box-shadow: inset 0px 0px 43px 2px #000000;
	-o-box-shadow: inset 0px 0px 43px 2px #000000;	
	
}
.banner-shadowbox img
{
	float:left;
	max-width: 728px;
	min-height: 211px;
	max-height: 211px;
	margin: 0 auto;
}
/*.banner-daynight
{
	position:absolute; 
	width:728px;
	height:211px;
	
	background-color: rgba(45,55,125,0.8);
	-webkit-background-size: cover;
	background-size: cover;

	background-blend-mode: overlay, normal;
	-webkit-background-blend-mode: overlay, normal;	
}*/
.path-overlay-link
{
	position:absolute; 
	display:inline-block;	
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	
}




.mini-window-header
{
	position:relative;
	top:-12px;
	left:-15px;
	width:330px;
	height:50px;
	background-color:#222222;
	padding:10px;	
}





.main-description
{
	width:100%;
	padding:10px;
}

.main-highlight
{
	color:#777777;
}

.main-partied-indicator
{
	margin-left:15px;
	font-size:14px;
	color: #33AA33;
	font-style:italic;
	font-weight: bold;
	float:right;
}


.main-stats
{
	text-align:center;
	padding:15px;
	background-color:#333333;
	border: solid 2px #AAAAAA;
	margin-top:10px;
	margin-bottom:10px;
}
.small-dogecoin-icon
{
	max-height:10px;
	height:18px;
}

.main-merchant-container
{
	margin-top:8px;
	margin-bottom:8px;
}

.item-flavor-description
{
	color:#EBC354;
	font-style:italic;
	font-size:15px;
}


.item-rare
{
    font-size: 20px;
    text-shadow: 0px 0px 4px rgba(200, 122, 50, 0.7);
    color: #DD7700;
}

.item-unique
{
    font-size: 20px;
    text-shadow: 0px 0px 4px rgba(200, 150, 0, 0.7);
    color: #F9CC00;
}

.item-junk
{
	color:#777777;
}


/* WEBKIT ONLY VERSION*/
@media screen and (-webkit-min-device-pixel-ratio:0) {  
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */  
	.item-rare
	{
	    font-size: 20px;
	    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
	    color: transparent;
	    background-color: #DD7700;
	    -webkit-background-clip: text;
	}
	
	.item-unique
	{
	    font-size: 20px;
	    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
	    color: transparent;
	    background-color: #F9CC00;
	    -webkit-background-clip: text;
	}
	
}

.main-item-container
{
	display:inline-block;
	vertical-align:top;
}

.main-item
{
	display: inline-block;
	margin-left:15px;
	font-size:17px;
	margin-bottom:10px;
}
.main-item-subnote
{
	font-size:15px;
	color:#999999;
	display:inline;
}

.main-item-name
{
	margin-left: 36px;
	display: inline;
}
.main-item-image-backing
{
	max-width:34px;
	max-height:34px;
	display:inline-block;
	position:absolute;
}
.main-item img
{
	margin:0 auto;
	vertical-align: middle;
}
.main-item-controls
{
	display: inline-block;
	font-size:14px;
	color:#777777;
	margin:0px;
	margin-left:30px;
}
.main-item-controls a
{
	margin-left:15px;
	font-size:14px;
	color: #33AA33;
	text-decoration: underline;
}
.main-item-storefront-status
{
	font-size:12px;
	color:#888888;
	margin-left:30px; 
}

.main-splitScreen
{
	display:table-cell;
	
	width:800px;
	padding:8px;
	vertical-align:top;
}

.main-splitScreen-2columns
{
	vertical-align:top;
	max-width:175px;
	width:175px;
	display:inline-block;
}


.boldbox
{
	background: #323a44; /* Old browsers */
	background: -moz-linear-gradient(top,  #323a44 0%, #272b2f 36%, #0d1113 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323a44), color-stop(36%,#272b2f), color-stop(100%,#0d1113)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323a44', endColorstr='#0d1113',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	border: solid #CCCCCC 3px;	
	
	margin:1px;
	padding:4px;
	
	width:100%;
}

.boldbox-green
{
	background: #2c862e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c862e 0%, #1d651e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c862e), color-stop(100%,#1d651e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c862e 0%,#1d651e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c862e 0%,#1d651e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c862e 0%,#1d651e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c862e 0%,#1d651e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c862e', endColorstr='#1d651e',GradientType=0 ); /* IE6-9 */
}


.boldbox h4
{
	padding-top:0px;
	margin-top:0px;
	margin-bottom:10px;
}

.boldBoxCollapsed
{
	max-height:30px;
	overflow-y:hidden;
	display:inline-block;
}
.boldbox h4
{
	cursor:pointer;
}

.main-buttonbox
{
	width: 100%;
	text-decoration: none;
}

.main-forgetPath
{
	margin-top:11px;
	margin-right:95px;
	float:right;
	font-size:32px;
}

.main-button
{
	background-image: url("images/main-button-backing.jpg");
	width: 511px;
	height: 38px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	padding-top: 14px;
	cursor: pointer;
	margin-bottom: 15px;
	display:block;
	color:#DDDDDD;
	text-decoration: none;
}

.main-textbox
{
	background: url("images/main-button-backing.jpg") no-repeat center;
	width:100%;
	height: 43px;
	
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 15px;
	display:block;
	color:#DDDDDD;
	text-decoration: none;
	padding-top: 9px;
}


.main-textbox div
{
	display:inline-table;
	width:300px;
	text-align:right;

	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-bottom: 15px;
	color:#DDDDDD;


}

.main-textbox input[type=text], .main-textbox input[type=password]
{

	font-size: 24px;
	color: #000000;
	
	box-shadow: inset 0px 0px 27px -7px #000000;
	-webkit-box-shadow: inset 0px 0px 27px -7px #000000;
	-moz-box-shadow: inset 0px 0px 27px -7px #000000;
	-o-box-shadow: inset 0px 0px 27px -7px #000000;
	
	font-family: DOS, Monospace;
}

.saleItem-sold
{
	font-weight: bold;
	color:#00AA00;
	display:inline;
}

.equipment-destroyed-notice
{
	color:#AA0000;
	font-weight:bold;
	display:inline;
}






/**Popups**/
#popups {
    display: none;
    }
.popupWrapperBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 47;
	background-color: rgba(14,11,6,0.96);
}
.popupWrapper {
    position: fixed;
    top: 50%;
/**/margin-top: -100px;
/**/height: 200px;
    min-height: 200px;
    width: 100%;
    }
.popup {
    width: 726px;
    height: 240px;
    position: relative;
    margin: 0 auto;
    /*background-image: url('../images/info-category-title-bar.png');*/
	background: url("images/banner-backing.jpg") no-repeat center;
}
.popup_header {
    width: 700px;
    height: 28px;
    padding-top: 20px;
    font-size: 1.35em;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    /*background-image: url('../images/info-category-title-bar.png');*/
    /*background-color:#777777;*/
    }
.popup_body {
    width: 700px;
    min-height: 100px;
    padding-top: 1em;
    /*background-image: url('../images/info-category-body-part2.png');*/
    /*background-color:#777777;*/

    }
.popup_text {
    width: 660px;
/**/max-height: 100px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 5px;
    word-break: normal;
    overflow-y: auto;
    line-height: 16px;
    }
.popup_footer {
    width: 700px;
    height: 46px;
    margin-top: -20px;
    padding-top: 24px;
    /*background-image: url('../images/info-category-footer-bar.png');
    background-repeat: no-repeat;*/
    /*background-color:#777777;*/

    }




/*Sprites*/


.walkingman-popup
{
    width: 726px;
    height: 240px;
    position: relative;
    margin: 0 auto;
}
.walkingman-container
{
	margin-top:200px;
	position:absolute;
	overflow:visible;
}
.walkingman
{
	position: relative;
	z-index:150000;
}

.walkingman-prop
{
	position: absolute;
	z-index:15000;
}


/* Chatroom styles */

#chat_messages
{
	overflow-y: scroll;
	max-height:150px;
	background-color: #0e0b06;
}
.chat_form_input
{
	display:table-cell;
	width:100%;
}

.chat_form_submit
{
	display:table-cell;
	width:0px;
}
.chat_form_input input
{
	width:100%;
}


.boldbox
{
}

.chat_box
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	border: solid #CCCCCC 3px;	
}

.chatMessage-text
{
	color:#AAAAAA;
}

.fullscreenChat
{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	border:none;
	z-index:30000;
}

.fullscreenChatButton
{
	display:table-cell;
	cursor:pointer;
}
.fullscreenChat #chat_tab #chat_messages
{
	max-height:inherit;
	overflow:hidden;
}

.chat-embedded-item
{
	display:inline;
}
.chat-embedded-item a img
{
	vertical-align:text-bottom; 
	max-height:18px;
}
.chat-embedded-item .main-item-image-backing
{
	position:inherit;
}

.chat-embedded-item .main-item-name
{
	margin-left:3px;
}




/* ---------------------------------------------------------- */
/*                                                            */
/* A media query that captures:                               */
/*                                                            */
/* - Retina iOS devices                                       */
/* - Retina Macs running Safari                               */
/* - High DPI Windows PCs running IE 8 and above              */
/* - Low DPI Windows PCs running IE, zoomed in                */
/* - Low DPI Windows PCs and Macs running Firefox, zoomed in  */
/* - Android hdpi devices and above                           */
/* - Android tvdpi devices, including Google Nexus 7          */
/* - Chrome running on high DPI Macs and PCs                  */
/* - Opera running on high DPI Macs, PCs and mobile devices   */
/*                                                            */
/* Please note that that this code assumes you'll swap a      */
/* 2× version of your images. If you'd like to supply         */
/* finer increments, other thresholds might be appropriate.   */
/*                                                            */
/* A test for CSS pixel densites can be found here:           */
/* http://bjango.com/articles/min-device-pixel-ratio/         */
/*                                                            */
/*                                  @marcedwards from @bjango */
/*                                                            */
/* ---------------------------------------------------------- */
 
@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
		.header
		{
			font-size:24px;
		}
		
		.header img
		{
			vertical-align:baseline;
		}
	
		.main-button
		{
			width: 100%;
			height: 56px;
			font-size: 32px;
			padding-top: 22px;
			background-size:cover;
		}
		
		.main-forgetPath
		{
			margin-top:9px;
			margin-right:25px;
			float:right;
			font-size:62px;
		}

		.main-description
		{
			font-size:24px;
		}
		
		.main-item
		{
			font-size:24px;
		}
		.main-item-subnote
		{
			font-size:20px;
			margin-bottom:15px;
		}
		.main-item-controls a
		{
			font-size:17px;
		}

	}
	