
@font-face {
    font-family: DOS;
    src: url(DOS.ttf);
}

@font-face {
    font-family: WONDER;
    src: url(WONDER.ttf);
}

@font-face {
    font-family: VAMP;
    src: url(vamp.ttf);
}

strong
{
	color:#FFFFFF;
}

body
{
	background-color: #0e0b06;
	font-family: DOS, Monospace;
	color:#DDDDDD;
}

a
{
	color:#FFFFFF;
	text-decoration: none;
	cursor:pointer;
}

h1
{
	font-size:40px;
	font-weight:normal;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-top:10px;
	color:#FFFFFF;
}

h2
{
	font-size:32px;
	font-weight:normal;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-top:10px;
	color:#FFFFFF;
}

h3
{
	font-size: 28px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-weight:normal;
	margin-top:10px;
	color:#FFFFFF;
}

h4
{
	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-weight:normal;
	margin-top:10px;
	color:#FFFFFF;
}

a:HOVER
{
	text-decoration: underline;	
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}


.travel-scene
{
	position:fixed;
	top:33%;
	left:50%;
	
	width:1px;
	height:1px;
	overflow:visible;
	z-index:999999;
}
.travel-scene h1
{
	z-index:2000000;
	position:relative;
	width:2000px;
	left:-1000px;
	text-align:center;
	
}

.clue
{
	cursor:pointer;
}

.shortcut-key
{
	float:left;
	font-size:14px;
	color:#AAAAAA;
}

.no-loggedin-header
{
	height:20px;
	margin:4px;
}

.header-mainTitle
{
	font-size:48px;
	text-align:center;
	position:absolute;
	width:100%;
	top:30px;
	left:-240px;
	z-index:1000;
	
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 1),2px 2px 3px rgba(0, 0, 0, 1);
}

.header
{
	height: 20px;
	width: 100%;
	margin:3px;
	margin-left:0px;
	margin-right:0px;
}
.header-profile
{
	display:table-cell;
	width: 200px;
	max-width: 200px;
	overflow: hidden;
	white-space:nowrap;
	height:20px;
	vertical-align: middle;
}
.header-location
{
	float:left;
	display:inline;
	overflow: hidden;
	height:20px;
	text-align:left;
	vertical-align: middle;
	white-space:nowrap;
	
}
.header-stats
{
	float:right;
	display:inline-block;
	overflow: hidden;
	white-space:nowrap;
	height:20px;
	text-align:right;
	
}
.header-stats img
{
	vertical-align:bottom;
	margin-right:2px;	
}

.header-stats-caption
{
	display:inline-block;
}

.header-stats-caption-alwayson
{
	display:inline-block;
}




.main-page
{
    width: 728px;
    margin: 0 auto;	
}

.main-banner-container
{
	position:absolute;
	top:27px;
}

.main-banner
{
	width:100%;
	margin:0px;
	position:absolute;
	margin-top:4px;
	top:3.7%;
}

.main-banner-simple
{
	width:100%;
	margin:0px;
	position:relative;
	margin-top:4px;
	top:3.7%;
}

.main-banner-simple img
{
	width:100%;
	margin-top:14px;
}
.main-banner-simple .banner-shadowbox img
{
	position:relative;
	top:14px;
}

.main-banner-textonly
{
	width:100%;
	margin:0px;
	position:relative;
}

.main-banner-text
{
	position: absolute;
	top:0px;
	margin-top:14px;
	text-align:center;
	width:100%;
}

.main-banner-text p
{
	color:#999999;
}

.main-expandable-title
{
	cursor:pointer;
	color:#FFFFFF;
}
.main-expandable-title:HOVER
{
	text-decoration: underline;
	
}

.main-expandable-content
{
	display:none;
}


.banner-shadowbox
{
	position: absolute;
	top:-2px;
	left:0px;
	width:100%;
	height:100%;
	
	background-size: contain;
	
	-webkit-backface-visibility: hidden;
	-webkit-transform:translate3d(0,0,0);

}

.banner-shadowbox::before
{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	
		
	box-shadow: inset 0px 0px 43px 2px #000000;
	-webkit-box-shadow: inset 0px 0px 43px 2px #000000;
	-moz-box-shadow: inset 0px 0px 43px 2px #000000;
	-o-box-shadow: inset 0px 0px 43px 2px #000000;	
	
}
/*.banner-daynight
{
	position:absolute; 
	width:728px;
	height:211px;
	
	background-color: rgba(45,55,125,0.8);
	-webkit-background-size: cover;
	background-size: cover;

	background-blend-mode: overlay, normal;
	-webkit-background-blend-mode: overlay, normal;	
}*/
.path-overlay-link
{
	position:absolute; 
	display:inline-block;	
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	
}




.mini-window-header
{
	position:relative;
	top:-12px;
	left:-15px;
	width:330px;
	height:50px;
	background-color:#222222;
	padding:10px;	
}

.mini-window-header-split
{
	width: 165px;
	margin: 0px;
	padding: 0px;
	display:inline-block;
	display:table-cell;
}




.main-description
{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	color:#CCCCCC;
}

p a, li a
{
	color: #DAA520;
}

.main-highlight
{
	color:#777777;
}

.main-partied-indicator
{
	margin-left:15px;
	font-size:14px;
	color: #33AA33;
	font-style:italic;
	font-weight: bold;
	float:right;
}


.main-stats
{
	text-align:center;
	padding:15px;
	background-color:#333333;
	border: solid 2px #AAAAAA;
	margin-top:10px;
	margin-bottom:10px;
}
.small-dogecoin-icon
{
	max-height:10px;
	height:18px;
}

.main-merchant-container
{
	margin-top:8px;
	margin-bottom:8px;
}

.item-flavor-description
{
	color:#EBC354;
	font-style:italic;
	font-size:15px;
}


.no-backgroundcliptext .item-rare
{
    font-size: 20px;
    text-shadow: 0px 0px 4px rgba(200, 122, 50, 0.7);
    color: #DD7700;
}

.no-backgroundcliptext .item-unique
{
    font-size: 20px;
    text-shadow: 0px 0px 4px rgba(200, 150, 0, 0.7);
    color: #F9CC00;
}

.item-junk
{
	color:#777777;
}


.backgroundcliptext .item-rare
{
    font-size: 20px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    color: transparent;
    background-color: #DD7700;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.backgroundcliptext .item-unique
{
    font-size: 20px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    color: transparent;
    background-color: #F9CC00;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
	

.main-item-container
{
	display:inline-block;
	vertical-align:top;
}

.main-item
{
	display: inline-block;
	margin-left:15px;
	font-size:17px;
	margin-bottom:10px;
}
.main-item-subnote
{
	font-size:15px;
	color:#999999;
	display:inline;
}

.main-item-name
{
	margin-left: 36px;
	display: inline;
}
.main-item-image-backing
{
	max-width:34px;
	max-height:34px;
	display:inline-block;
	position:absolute;
}
.main-item img
{
	margin:0 auto;
	vertical-align: middle;
}
.main-item-controls
{
	display: inline-block;
	font-size:14px;
	color:#777777;
	margin:0px;
	margin-left:30px;
}
.main-item-controls a
{
	margin-left:15px;
	font-size:14px;
	color: #33AA33;
	text-decoration: underline;
}
.main-item-storefront-status
{
	font-size:12px;
	color:#888888;
	margin-left:30px; 
}

.main-splitScreen
{
	display:inline-block;
	
	width:46%;
	padding:4px;
	vertical-align:top;
}

.main-splitScreen-2columns
{
	vertical-align:top;
	max-width:175px;
	width:175px;
	display:inline-block;
}

.highlightbox-green
{
	border-top:solid #118811 3px;
	border-bottom:solid #118811 3px;

	padding:6px;

background: -moz-linear-gradient(left,  rgba(180,227,145,0) 0%, rgba(54,122,15,0.35) 50%, rgba(180,227,145,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,227,145,0)), color-stop(50%,rgba(54,122,15,0.35)), color-stop(100%,rgba(180,227,145,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(180,227,145,0) 0%,rgba(54,122,15,0.35) 50%,rgba(180,227,145,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(180,227,145,0) 0%,rgba(54,122,15,0.35) 50%,rgba(180,227,145,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(180,227,145,0) 0%,rgba(54,122,15,0.35) 50%,rgba(180,227,145,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(180,227,145,0) 0%,rgba(54,122,15,0.35) 50%,rgba(180,227,145,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4e391', endColorstr='#00b4e391',GradientType=1 ); /* IE6-9 */
	
}

.boldbox
{
	background: #323a44; /* Old browsers */
	background: -moz-linear-gradient(top,  #323a44 0%, #272b2f 36%, #0d1113 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323a44), color-stop(36%,#272b2f), color-stop(100%,#0d1113)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #323a44 0%,#272b2f 36%,#0d1113 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323a44', endColorstr='#0d1113',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	border: solid #CCCCCC 3px;	
	
	margin:1px;
	padding-left:4px;
	padding-top:4px;
	padding-bottom:4px;

	width:100%;
}

.boldbox-green
{
	background: #2c862e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c862e 0%, #1d651e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c862e), color-stop(100%,#1d651e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c862e 0%,#1d651e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c862e 0%,#1d651e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c862e 0%,#1d651e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c862e 0%,#1d651e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c862e', endColorstr='#1d651e',GradientType=0 ); /* IE6-9 */
}


.boldbox h4
{
	padding-top:0px;
	margin-top:0px;
	margin-bottom:10px;
}

.boldBoxCollapsed
{
	max-height:30px;
	overflow-y:hidden;
	display:inline-block;
}
.boldbox h4
{
	cursor:pointer;
}

.main-buttonbox
{
	width: 100%;
	text-decoration: none;

}

.main-forgetPath
{
	margin-top:11px;
	margin-right:95px;
	float:right;
	font-size:32px;
}

.main-button
{
	background-image: url("images/main-button-backing.jpg");
	width: 511px;
	height: 38px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	padding-top: 14px;
	cursor: pointer;
	margin-bottom: 15px;
	display:block;
	color:#FFFFFF;
	text-decoration: none;
}

.main-textbox
{
	background: url("images/main-button-backing.jpg") no-repeat center;
	width:100%;
	height: 43px;
	
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 15px;
	display:block;
	color:#DDDDDD;
	text-decoration: none;
	padding-top: 9px;
}


.main-textbox div
{
	display:inline-table;
	width:35%;
	text-align:right;

	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-bottom: 15px;
	color:#DDDDDD;


}

.main-textbox input[type=text], .main-textbox input[type=password]
{
	width:45%;
	max-width:300px;
	font-size: 24px;
	color: #000000;
	
	box-shadow: inset 0px 0px 27px -7px #000000;
	-webkit-box-shadow: inset 0px 0px 27px -7px #000000;
	-moz-box-shadow: inset 0px 0px 27px -7px #000000;
	-o-box-shadow: inset 0px 0px 27px -7px #000000;
	
	font-family: DOS, Monospace;
}

.saleItem-sold
{
	font-weight: bold;
	color:#00AA00;
	display:inline;
}

.equipment-destroyed-notice
{
	color:#AA0000;
	font-weight:bold;
	display:inline;
}






/**Popups**/
#popups {
    display: none;
    }
.popupWrapperBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 47;
	background-color: rgba(14,11,6,0.96);
}
.popupWrapper {
    position: fixed;
    top: 50%;
/**/margin-top: -100px;
/**/height: 200px;
    min-height: 200px;
    width: 100%;
    }
.popup {
    width: 726px;
    height: 240px;
    position: relative;
    margin: 0 auto;
    /*background-image: url('../images/info-category-title-bar.png');*/
	background: url("images/banner-backing.jpg") no-repeat center;
}
.popup_header {
    width: 700px;
    height: 28px;
    padding-top: 20px;
    font-size: 1.35em;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    /*background-image: url('../images/info-category-title-bar.png');*/
    /*background-color:#777777;*/
    }
.popup_body {
    width: 700px;
    min-height: 100px;
    padding-top: 1em;
    /*background-image: url('../images/info-category-body-part2.png');*/
    /*background-color:#777777;*/

    }
.popup_text {
    width: 660px;
/**/max-height: 100px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 5px;
    word-break: normal;
    overflow-y: auto;
    line-height: 16px;
    }
.popup_footer {
    width: 700px;
    height: 46px;
    margin-top: -20px;
    padding-top: 24px;
    /*background-image: url('../images/info-category-footer-bar.png');
    background-repeat: no-repeat;*/
    /*background-color:#777777;*/

    }




/*Sprites*/


.walkingman-popup
{
    width: 726px;
    height: 240px;
    position: relative;
    margin: 0 auto;
}
.walkingman-container
{
	margin-top:200px;
	position:absolute;
	overflow:visible;
}
.walkingman
{
	position: relative;
	z-index:150000;
}

.walkingman-prop
{
	position: absolute;
	z-index:15000;
}


/* Chatroom styles */

.chat_tab_help_button
{
    float: right;
    padding: 3px;
    padding-right: 6px;	
    border-left: 1px #FFFFFF solid;
    padding-left: 8px;
}
.chat_tab_container
{
	border-bottom: 1px solid #CCCCCC;	
}

.chat_tab
{
	display:inline-block; padding:3px; padding-right:7px; padding-left:7px; border-right: 1px solid #CCCCCC;
}

.chat_tab_selected
{
	background-color:#339933;
	color:#FFFFFF;
}

.chat_messages
{
	overflow-y: scroll;
	max-height:150px;
	background-color: #0e0b06;
}
.chat_form_input
{
	display:table-cell;
	width:100%;
}

.chat_form_submit
{
	display:table-cell;
	width:0px;
}
.chat_form_input input
{
	width:100%;
}


.boldbox
{
}

.chat_box
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	border: solid #CCCCCC 3px;	
	background-color:#0e0b06;
}

.chatMessage-text
{
	color:#AAAAAA;
}

.fullscreenChat
{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	border:none;
	/*z-index:30000;*/
}


.fullscreenChat .chat_tab_container, .fullscreenChat #chat_tab
{
	background-color: #0e0b06;
}


.fullscreenChatButton
{
	display:table-cell;
	cursor:pointer;
}
.fullscreenChat #chat_tab .chat_messages
{
	max-height:inherit;
	overflow:hidden;
}

.chat-embedded-item
{
	display:inline;
}
.chat-embedded-item a img
{
	vertical-align:text-bottom; 
	max-height:18px;
}
.chat-embedded-item .main-item-image-backing
{
	position:inherit;
}

.chat-embedded-item .main-item-name
{
	margin-left:3px;
}




/* EQUIPMENT AVATAR */

.avatar-equip-backing
{
	background-image:url("images/ui/avatarbacking1.png"); width:36px; height:36px; top:0px; display:inline-block;position:relative;
	vertical-align:top;
}

.character-display-box 
{
	margin-top:4px;
	color:#FFFFFF;
	z-index:1000;
	
}

.character-display-box a
{
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
} 


.item-popup-field
{
	display: inline-block;
	margin-left:15px;
	font-size:17px;
	margin-bottom:0px;
}


.item-value-comparison
{
	display:inline-block;
	margin:0px;
	margin-left:3px;
	font-size:11px;
	font-style:italic;
	color: #5555AA;
}

.better-item
{
	color:#00FF00;
}

.worse-item
{
	color:#FF0000;
}










/* ---------------------------------------------------------- */
/*                                                            */
/* A media query that captures:                               */
/*                                                            */
/* - Retina iOS devices                                       */
/* - Retina Macs running Safari                               */
/* - High DPI Windows PCs running IE 8 and above              */
/* - Low DPI Windows PCs running IE, zoomed in                */
/* - Low DPI Windows PCs and Macs running Firefox, zoomed in  */
/* - Android hdpi devices and above                           */
/* - Android tvdpi devices, including Google Nexus 7          */
/* - Chrome running on high DPI Macs and PCs                  */
/* - Opera running on high DPI Macs, PCs and mobile devices   */
/*                                                            */
/* Please note that that this code assumes you'll swap a      */
/* 2× version of your images. If you'd like to supply         */
/* finer increments, other thresholds might be appropriate.   */
/*                                                            */
/* A test for CSS pixel densites can be found here:           */
/* http://bjango.com/articles/min-device-pixel-ratio/         */
/*                                                            */
/*                                  @marcedwards from @bjango */
/*                                                            */
/* ---------------------------------------------------------- */
 
@media (max-width:480px)
	{
		.main-splitScreen
		{
			width:96%;
			padding:0px;
		}
	}
@media (max-width:728px)
	{
		body
		{
			margin:0px;
		}
		
		h1
		{
			font-size:28px;
		}
		
		h2
		{
			font-size:24px;
		}
		
		h3
		{
			font-size:20px;
		}
		
		h4
		{
			font-size:18px;
		}
		
		.main-button
		{
			padding-top:16px;
			font-size:18px;
		}
		
		.main-textbox
		{
			padding-top:4px;
			font-size:18px;
		}
		
		.main-textbox div
		{
			padding-top:12px;
			font-size:16px;
		}
		
		.header
		{
			font-size:16px;
		}
		
		.header-location
		{
			width:40%;
		}
		.header-stats
		{
			width:56%;
			max-width:56%;
		}
		.header-stats img
		{
			height:20px;
		}
		.header-stats-caption
		{
			display:none;
		}
		.header-stats-caption-alwayson
		{
			display:inline-block;
		}

		.main-page
		{
			width:100%;
		}
		
		.main-page-banner-image
		{
			width:100%;
		}
		
		.fullscreenChat .chat_messages
		{
			font-size:18px;
		}
		
/*
		.banner-shadowbox
		{
			width:100%;
			max-width:100%;
			max-height: initial;
			height: initial;
			min-height: initial;
			margin-top:21px;
		}
		.banner-shadowbox img
		{
			width:100%;
			min-height:initial;
		}

		
		.main-banner
		{
			background:none;
			width:100%;
			margin-top:1.7%;
			
		}*/
	
		.main-banner-simple
		{
			background:none;
			width:100%;
		}
	
	
		.main-banner-textonly
		{
			width:100%;
			background:url('images/banner-backing.jpg') no-repeat center;
			height:240px;
		}
	
		.main-banner-textonly img
		{
			display:none;
		}

		.main-banner-text
		{
			margin-top:20px;
			position:absolute;
			width:100%;
		}
	
		.main-button
		{
			max-width: 100%;
		}
		
/*		
		.main-forgetPath
		{
			margin-top:9px;
			margin-right:25px;
			float:right;
			font-size:62px;
		}

		
		.main-item
		{
			font-size:24px;
		}
		.main-item-subnote
		{
			font-size:20px;
			margin-bottom:15px;
		}
		.main-item-controls a
		{
			font-size:17px;
		}
*/

	.popup {
	    width: 100%;
	}
	.popup_header {
	    width: 100%;
	    }
	.popup_body {
	    width: 100%;
	
	    }
	.popup_text {
	    width: 100%;
	    }
	.popup_footer {
	    width: 100%;
	
	    }
		
		
		.chat_tab
		{
		    padding-right: 3px;
		    padding-left: 3px;
		    font-size: small;
   		}

		.chat_tab_help_button
		{
			font-size:small;
			
		}
		
		.mobile-spacer
		{
			height:700px;
		}
	}
	